/* styles.css */
body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  background-color: white;
}