/* styles.css */
body {
  background-color: lightgray;
}

header {
  text-align: center;
}

td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  background-color: white;
}

td:hover {
  background-color: grey;
}

.player1, .player2 {
  flex-shrink: 0;
  text-align: center;
}

#game {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.ship {
  background-color: red;
}